@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default;
}

.my-element {
    animation: bounce;
    animation-duration: 2s;
}

.maven-pro {
    font-family: "Maven Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}